body {
    color: #454545;
    font-size: 14px;
    line-height: 21px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -webkit-text-stroke: 1px transparent;
}

body {
    background: #b3c6e4;
}

.pl {
    display: block;
    float: left;
    height : 200px;
    width: 500px;
    position : relative;
    margin-top : 0px;
    margin-left : 0px;
	overflow: hidden;
    text-align: center;
    border: solid 1px white;
}
.pl ul, .pta ul {
    top : 0px;
    left : 0px;
    width: 100%;
}
.pl ul li, .pl ul li a img {
	align-items: center;
	list-style-type: none;
    top : 0px;
    left : 0px;
    width: 80%;
}
.pl ul a {
    top : 0px;
    left : 0px;
    display: block;
    height: 198px;
	font: lighter 1.5em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    text-align: center;
    vertical-align: center;
	text-decoration: none;
    color: white;
	-webkit-transition: margin .4s ease-in-out;
	-moz-transition: margin .4s ease-in-out;
	-o-transition: margin .4s ease-in-out;
	-ms-transition: margin .4s ease-in-out;
	transition: margin .4s ease-in-out;
}

.pl ul a.first {
    min-width: 25%;
	width:100%
}
.pl ul a.second {	
    min-width: 25%;
	width:100%
}
.pl ul a.null{
    min-width: 25%;
	width:100%
}
.pl ul li:hover .first{
	margin-top: -200px;
}