body {
    color: #454545;
    font-size: 14px;
    line-height: 21px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -webkit-text-stroke: 1px transparent;
}

body {
    background: #b3c6e4;
}